body {
border-left: 50px solid white;
border-right: 50px solid white;
}

.MathJax {
    font-size: 0.9em !important;
}
.reveal {
    font-size: 2.5em;

}

.reveal h1 {
  font-size: 1.8em;
  font-weight: 100;
  text-align: center;
  padding-top: 2.5em;
  margin: 0 0 .66666em 0;
  color: #003399;
  text-transform: none;
}

.reveal h2 {
  font-size: 1.3em;
  font-weight: 100;
  text-align: center;
  padding-top: .5em;
  margin: 0 0 .66666em 0;
  color: #003399;
  text-transform: none;
}

.reveal h3 {
  font-size: 1.2em;
  font-weight: bold;
  text-align: left;
  padding-top: 1.0em;
  margin: 0 0 .66666em 0;
  border-bottom: 3px solid #888;
  color: #003399;
  border-color: #ccc;
  border-bottom-color:#ccc;
  text-transform: none;
}

.reveal h4 {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  padding-top: 4.5em;
  margin: 0 0 .66666em 0;
  color: #003399;
  text-transform: none;
}

.reveal h5 {
  font-size: 1.2em;
  font-weight: bold;
  text-align: left;
  padding-top: 1.0em;
  margin: 0 0 2.66666em 0;
  border-bottom: 3px solid #888;
  color: #003399;
  border-color: #ccc;
  border-bottom-color:#ccc;
  text-transform: none;
}

.reveal .slide-footer {
  width: 100%;
  position: fixed;
  left: 0px;
  bottom: 30px;
  z-index: 30; 
}

.reveal .aleft {
  text-align: left;
}

.reveal .container2col {
    display: flex;
    width: 100%;
}
.reveal .col2col {
    flex: 1;
}

.reveal .sequence-head { font: normal 10px sans-serif; }
.reveal .sequence-step { font: normal 10px sans-serif; }
.reveal .sequence-interactions { font: normal 10px sans-serif; }
div .headcontainer {
    width: 1800px;
  text-align: center;
}
div .stepcontainer {
    width: 1800px;
    height: 700px;
    overflow: auto;
  text-align: center;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}


