body {
border-left: 50px solid white;
border-right: 50px solid white;
}

.MathJax {
    font-size: 0.9em !important;
}
.reveal {
    font-size: 2.5em;

}

.reveal h1 {
  font-size: 1.8em;
  font-weight: 100;
  text-align: center;
  padding-top: 2.5em;
  margin: 0 0 .66666em 0;
  color: #003399;
  text-transform: none;
}

.reveal h2 {
  font-size: 1.3em;
  font-weight: 100;
  text-align: center;
  padding-top: .5em;
  margin: 0 0 .66666em 0;
  color: #003399;
  text-transform: none;
}

.reveal h3 {
  font-size: 1.2em;
  font-weight: bold;
  text-align: left;
  padding-top: 1.0em;
  margin: 0 0 .66666em 0;
  border-bottom: 3px solid #888;
  color: #003399;
  border-color: #ccc;
  border-bottom-color:#ccc;
  text-transform: none;
}

.reveal h4 {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  padding-top: 4.5em;
  margin: 0 0 .66666em 0;
  color: #003399;
  text-transform: none;
}

.reveal h5 {
  font-size: 1.2em;
  font-weight: bold;
  text-align: left;
  padding-top: 1.0em;
  margin: 0 0 2.66666em 0;
  border-bottom: 3px solid #888;
  color: #003399;
  border-color: #ccc;
  border-bottom-color:#ccc;
  text-transform: none;
}

.reveal .slide-footer {
  width: 100%;
  position: fixed;
  left: 0px;
  bottom: 30px;
  z-index: 30;
}

.reveal .aleft {
  text-align: left;
}

.reveal .container2col {
    display: flex;
    width: 100%;
}
.reveal .col2col {
    flex: 1;
}

.sequence-head { font: normal 10px sans-serif; }
.sequence-step { font: normal 10px sans-serif; }
.sequence-interactions { font: normal 10px sans-serif; }
div.headcontainer {
    width: 1600px;
}
div.stepcontainer {
    width: 1600px;
    height: 700px;
    overflow: scroll;
}
div.tooltip {
position: absolute;
text-align: left;
width: 350px;
height: 160px;
padding: 10px;
font: 12px sans-serif;
background: white;
border: 1px solid black;
border-radius: 2px;
pointer-events: none;
}
div.display {
position: absolute;
text-align: left;
width: 350px;
height: 160px;
padding: 10px;
font: 12px sans-serif;
border-radius: 2px;
pointer-events: none;
top: 0px;
left: 1400px;
}
div.display table tr td,
div.tooltip table tr td
{
    text-align: left;
    border: 0px;
    padding: 0px;
}
div.display table tr th,
div.tooltip table tr th
{
    text-align: left;
    border: 0px;
    padding: 0px;
}
