

.reveal h2 {
  font-size: 1.0em;
  font-weight: 100;
  text-align: center;
  padding-top: .5em;
  margin: 0 0 .66666em 0;
  color: #003399;
  text-transform: none;
}

.reveal h3 {
  font-size: 0.9em;
  font-weight: bold;
  text-align: left;
  padding-top: .5em;
  margin: 0 0 .66666em 0;
  border-bottom: 3px solid #888;
  color: #003399;
  border-color: #ccc;
  border-bottom-color:#ccc;
  text-transform: none;
}

.reveal p {
  margin: 20px 0;
  line-height: 1.2;
  font-size: 0.6em;
}

table {
  border: none;
  font-size: 0.6em;
}

.container {
  display: grid;
  grid-template-rows:200px 1fr 100px;
  grid-template-columns:25% 25% 25% 25%;
}


